.Content_Devlog > h2{
    margin: auto;
    margin-bottom: 10px;
}

.Content_Devlog{
    position: relative;
}

.Content_Develog_Timeline{
    position: absolute;
    width: 10px;

    top: 100px;
    bottom: 0px;

    left: 0px;

    background-color: black;
}


.Content_Devlog_Entry{
    width: 100%;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
}



.Content_Devlog_Entry span{
    background-color: black;
    padding: 5px;
}

.Content_Devlog_Entry_Header{
    width: 100%;
    font-size: 20px;

    padding-left: 15px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;

    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%) !important;

    z-index: 5;
}

.Content_Devlog_Entry_Date{
    width: 20%;
    font-size: 12px;

    color: lightgray;
    background-color: #141414 !important;

    border-radius: 0px 0px 20px 0px;
    padding-left: 15px !important;
}


.Content_Devlog_Entry_Content{
    display: grid;
    grid-template-columns: 50% auto;

    padding: 25px;
    gap: 25px;
}

.Content_Devlog_Entry_Content img{
    width: 100%;
}

.Content_Devlog_Entry_Content pre{
    font-size: 13px;
    width: 100%;
    text-wrap-mode: wrap;
}



.Content_Develog_Loader{
    width: 100%;

    display: flex;
    justify-content: center;

    padding: 50px;
    box-sizing: border-box;
}

.Content_Develog_Loader > button{

    height: 30px;
    width: 200px;


}

.Content_Devlog_Entry_Content_Visuals_PaddedIMG{
    height: 200px;

    display: flex;
    padding: 10px;

    background-color: black;
    border-radius: 25px;

    position: relative;
    overflow: hidden;

    filter: drop-shadow(0px 0px 10px #000000);
}

.Content_Devlog_Entry_Content_Visuals_PaddedIMG > img:first-child{
    position: absolute;
    width: 100%;
    height: auto;

    left: 0px;
    top: 0px;

    filter: blur(5px);
}

.Content_Devlog_Entry_Content_Visuals_PaddedIMG > img{
    height: 100%;
    width: auto;
    margin: auto;
    z-index: 10;
}

.Content_Devlog_Entry_Content_Visuals > img{
    filter: drop-shadow(0px 0px 10px #000000);
    border-radius: 25px;
}