:root{
    background-color: black;

    color: white;
    font-family: 'Roboto', sans-serif;

    --Colours-BG: #07080f;
}


.Panel{
    background-color: var(--Colours-BG);
    border-radius: 25px;

    filter: drop-shadow(0px 0px 10px #000000);

    box-sizing: border-box;
}


button{
    border-radius: 20px;
    background-color: #394fd8;

    border: none;
    color: white;

    cursor: pointer;

    filter: drop-shadow(0px 0px 10px #000000);
    transition: all .1s;
}

button:hover{
    transform: scale(1.04);
}